body{
 background-color:gray; 
   margin-top:0;
   margin-left:10%;
    margin-right:10%;
   width:1000px;
}
div{
   background-color:white;
   border: solid 1px white;
   border-radius:10px;
}
.list {
   float:left;
   background-color:silver;
   border:solid 5px white;
   padding:0;
   border-radius:15px;
   width:130px;
}
.foot {
   float:none;
    padding-left:40%;
}
.text{  
   padding-left:37%;
}
ul{
   list-style-type:none;
   padding-left:5px;
   padding-right:10px;
   margin:5px;
}
.listinside{
   padding-left:30px;   
}

.img{
   float:left;
   height:50px;
   padding-top:8px;
}
h1{
   margin-bottom:0;
   padding-left:
}
.tech{ 
  padding-left:35%;
}
p{
   text-indent:5%;
}


input{
   width:100%;
   height:100%;
}
td{
   width:50px;
   height:50px;
}
th{
   width:50px;
   height:50px;
}
table{
   height:20%;
}
.input{
   border:outset 1px white;
}