body{
 background-color:gray; 
   margin-top:0;
   margin-left:10%;
    margin-right:10%;
   width:1000px;
}
div{
   background-color:white;
   border-radius: 5%;
   border: solid 1px white;
   border-radius:10px;
}
.list {
   float:left;
   background-color:silver;
   border:solid 5px white;
   padding:0;
   border-radius:15px;
   width:130px;
}
.foot {
   float:none;
    padding-left:40%;
}
.text {
   height:250px;
   border: solid 4px white;
   padding-right:5px;
   padding-left:150px;
}
ul{
   list-style-type:none;
   padding-left:5px;
   padding-right:10px;
   margin:5px;
}
.listinside{
   padding-left:30px;   
}

.img{
   float:left;
   height:50px;
   padding-top:8px;
}
h1{
      margin-bottom:0;
      padding-left:
}
.tech{
   padding-left:35%;  
}
.abz{
    text-indent:5%;
}
